
/* MEDIA QUERIES */


/* Ipad Pro and Smaller */
@media only screen and (max-width: $ipadpro-bp)

  .volunteer-login
    &.container-fluid 
      .form-wrap
        margin-left: 0
        margin-right: 0

  

@media only screen and (max-width: $xxlg-custom-bp)
  .side-bar
    height: 55vh
    padding: 5px 15px

    h4.side-bar-title
      font-size: 1.5rem

    .side-bar-content
      p
        font-size: 1.2rem
  


@media only screen and (max-width: 1115px)

  .volunteer-login
    &.container-fluid 
      .form-wrap
        margin-left: 0
        margin-right: 0

  

@media only screen and (max-width: $lg-bp)

  .volunteer-login
    &.container-fluid 
      .form-wrap
        margin-left: 0
        margin-right: 0


// LARGER THAN MEDIUM 
@media only screen and (max-width: $md-bp)
  .side-bar
    img
      width: 45%
      margin-top: 15px
      margin-bottom: 10px

    h4.side-bar-title
      font-size: 1.3rem
      margin-bottom: 10px

    .side-bar-content
      p
        font-size: 1rem
//smaller than medium
@media only screen and (max-width: 766px)

  .main-area
    height: auto
 

  

// SMALLER THAN MEDIUM (~ Tablets and Small Screens)
@media only screen and (max-width: $md-bp)

  .volunteer-login
    &.container-fluid 
      .form-wrap
        margin-left: 0
        margin-right: 0

  

// larger than sm
@media only screen and (min-width: $sm-bp)
  .volunteer-login
    &.container-fluid 
      .form-wrap
        margin-left: 0
        margin-right: 0



// smaller than sm

@media only screen and (max-width: $sm-bp)

  .app .bg-overlay
    padding: 0 10px

  .main-area
    height: auto



// XS Size - Mobile Versions  
@media only screen and (max-width: $xs-custom-bp)

  .volunteer-login
    &.container-fluid 
      .form-wrap
        margin-left: 0
        margin-right: 0




// XXS Size - Mobiles with smaller screens
@media only screen and (max-width: $xxs-custom-bp)
  
  .volunteer-login
    &.container-fluid 
      .form-wrap
        margin-left: 0
        margin-right: 0


 


